{
  "project_info": {
    "project_number": "REPLACE_ME",
    "project_id": "intellispendiq",
    "storage_bucket": "intellispendiq.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:production",
        "android_client_info": {
          "package_name": "com.intellispendiq.app"
        }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:staging",
        "android_client_info": {
          "package_name": "com.intellispendiq.app.stg"
        }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:development",
        "android_client_info": {
          "package_name": "com.intellispendiq.app.dev"
        }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    }
  ],
  "configuration_version": "1"
}
